@import "../../theme/theme";

// Gallery Theme Selector
@media (max-width: 450px) { // mobile
    .filter_menu {
        width: 100% !important;
        border-bottom-left-radius: 0px !important;
        border-left: None !important;
    }
}
@media (max-width: 800px) { // mobile
    .filter_menu_tooltip {
        display: none;
    }
    .filter_menu_toggle {
        position: absolute;
        top: 60px;
        right: 120px;
        width: 40px;
        height: 40px; 
        color: $light !important;
        background-color: $dark !important;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        z-index: 1;
        overflow: visible;
    }
        .filter_menu_toggle_icon {
        width: 40px !important;
        height: 40px !important;
        padding: 5px;
        border-top-right-radius: 5px;
        }

    .filter_menu_toggle_open {
        position: absolute;
        top: 60px;
        right: 120px;
        width: 40px;
        height: 40px; 
        color: $dark !important;
        background-color: $light !important;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        z-index: 1;
        overflow: visible;
    }
    .filter_menu {
        position: absolute; 
        top: 100px; 
        right: 0px;
        min-height: 40px;
        max-width: 100vw !important;
        border-bottom-left-radius: 7px;
        z-index: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: right !important;
        background-color: $dark !important;
        border-bottom: 2px solid $secondary;
        border-left: 2px solid $secondary;
    }
    .filter_menu > .filter_icon_container:first-of-type {
        border-bottom-left-radius: 5px !important;
    }

    .filter_icon_container {
        width: 40px;
        height: 40px;
        background-color: $dark;
        color: $light;
    }
    .filter_icon_container_selected {
        width: 40px;
        height: 40px;
        background-color: $light !important;
        color: $dark !important;
    }
    .filter_icon {
    width: 30px !important;
    height: 30px !important;
    margin: 5px;
    }
}
@media (min-width: 799px) { // browser
    .filter_menu_toggle {
        position: absolute;
        top: 50px;
        right: 150px;
        width: fit-content;
        height: 50px; 
        color: $light !important;
        background-color: $dark !important;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        display: flex;
        flex-direction: row;
        overflow: visible;
        z-index: 1;
    }
    .filter_menu_toggle:hover {
        background-color: $light !important;
        color: $dark !important;
    }
        .filter_menu_toggle_icon {
        width: 50px !important;
        height: 50px !important;
        padding: 5px;
        border-top-right-radius: 5px;
        }
    .filter_menu_toggle_open {
        position: absolute;
        top: 50px;
        right: 150px;
        width: fit-content;
        height: 50px; 
        color: $light !important;
        background-color: $dark !important;
        border-top-right-radius: 5px;
        border-top-left-radius: 0px !important;
        display: flex;
        flex-direction: row;
        z-index: 1;
        overflow: visible;
    }
    .filter_menu_toggle_open > .filter_menu_toggle_icon:hover {
        background-color: $light !important;
        color: $dark !important;
    }
    .filter_menu_tooltip {
        position: relative; 
        width: fit-content;
        font-size: 24px;
        line-height: 50px;
        margin-right: 5px;
        margin-left: 10px;
    }
    .filter_menu_container { 
        position: relative; 
        width: fit-content; 
    }
    .filter_menu {
        position: absolute; 
        top: 50px;
        right: 200px;
        width: fit-content; 
        min-height: 50px;
        background-color: $light; 
        display: flex;
        flex-direction: row;
        border-top-left-radius: 5px !important;
    }
    .filter_menu > .filter_icon_container:first-of-type {
        border-top-left-radius: 4px !important;
    }

    .filter_icon_container {
        width: 50px;
        height: 50px;
        color: $light;
        background-color: $dark !important;
    }
    .filter_icon_container:hover {
        background-color: $light !important;
        color: $dark !important;
    }
    .filter_icon_container_selected {
        width: 50px;
        height: 50px;
        background-color: $light !important;
        color: $dark;
    }
    .filter_icon {
    width: 40px !important;
    height: 40px !important;
    margin: 5px;
    }
}