@import "../../theme/theme";

.navbar { 
    padding: 0 !important; 
    overflow: hidden; 
    background-color: $secondary;  
}
    .navbar_container { 
        height: 100px; 
        width: 100%; 
        overflow: hidden;  
    }
        .navbar_logo {
            position: relative;
            padding: 0; 
            width: 250px; 
            height: 100% !important;  
        }
            .navbar_logo_img { 
                min-height: 80px; 
                padding: 10px !important; 
            }
    
        // Menu Hamburger Button
        .hamburger_button { 
            position: absolute; 
            top: 50px; 
            right: 0; 
            width: 50px !important; 
            height: 50px !important; 
            padding: 10px; 
            background-color: $primary !important; 
            color: $light !important; 
            border-top-left-radius: 5px; 
        }
        .hamburger_button:hover { 
            background-color: $light !important; 
            color: $secondary !important; 
        }

        .hamburger_button_open { 
            position: absolute; 
            top: 50px; 
            right: 0; 
            width: 50px !important; 
            height: 50px !important; 
            padding: 10px; 
            background-color: $light !important; 
            color: $primary !important; 
            border-top-left-radius: 5px; 
        }

        // Profile Account Button
        .account_button { 
            position: absolute; 
            top: 50px; 
            right: 50px; 
            width: 50px !important; 
            height: 50px !important; 
            padding: 10px; 
            background-color: $secondary !important; 
            fill: $light !important; 
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px;  
        }
        .account_button:hover { 
            background-color: $light !important; 
            fill: $secondary !important; 
        }
        
        .instagram_link_container { 
            position: absolute; 
            top: 50px; 
            right: 100px; 
            width: 50px !important; 
            height: 50px !important; 
        }
            .instagram_logo_link_container {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0px;
            }
                .instagram_logo_link {  
                    background-color: $primary !important; 
                    border-top-left-radius: 5px; 
                    border-top-right-radius: 5px; 
                    padding: 10px !important; 
                }
                .instagram_logo_link:hover { 
                    background-color: $light !important; 
                }

        // Account Menu Container
        .account_menu_container {
            display: none;
            position: absolute; 
            z-index: 100; 
            top: 100px; 
            right: 0px; 
            width: 300px; 
            height: 200px; 
            background-color: $primary;
            border-bottom-left-radius: 10px;  
        }
        .account_menu_full_container {            
            position: absolute; 
            z-index: 100; 
            top: 100px; 
            right: 0px;  
        }
        .account_menu_full_container:hover > .account_menu_container { 
            display: block; 
        }
            .account_menu_body { 
                padding: 0 !important; 
            }
        
        .clerk_user_button_container {
            background-color: $primary;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            position: absolute; 
            top: 50px; 
            right: 50px;
            width: 50px;
            height: 50px;
            padding: 9px;
        }
        .clerk_user_button_container:hover {
            background-color: $light;
        }

        .sign_in_button {
            width: 32px !important;
            height: 32px !important;
            fill: $light !important;
        }
        .sign_in_button:hover {
            fill: $secondary !important;
        }

        // Page Menu Overlay
        .page_menu_container { 
            position: absolute; 
            z-index: 100; 
            top: 100px; 
            right: 0px; 
            width: 200px; 
            height: fit-content; 
            background-color: $light; 
            border-left: 2px solid $secondary; 
            border-bottom: 2px solid $secondary;
            border-bottom-left-radius: 10px; 
        }
            .page_menu_body { 
                padding: 0 !important; 
            }
    


