@import '../../theme/common';
@import '../../theme/theme';

.checkout_form_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content !important;
    margin-bottom: 20px;
}

.checkout_title_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: $light;
    padding: 0px;

    .title {
        width: calc(100% - 80px);
        margin: auto;
        color: $dark;
        font-size: 1.4em;
        line-height: 1.2em;
        text-align: center;
        font-family: $lato_300;
    }
}

.price_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 5px;

    .price_wrapper {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        border: none;
        background-color: $dark;
        padding: 0;
        margin-right: 15px;

        .price_label_wrapper {
            display: flex;
            flex-direction: row;
            padding: 5px 10px;
            border-radius: 5px 0px 0px 5px;

            .price_label_stripe_image {
                margin: 5px;
            }
        }

        .price_text {
            font-size: 1.5rem;
            line-height: 40px;
            color: $dark;
            background-color: $primary;
            border-radius: 0px 5px 5px 0px;
            padding: 5px 10px;

            &:hover {
                background-color: $secondary;
                color: $primary !important;
            }
        }
    }

    .stripe_button {
        margin-right: 10px;
    }

    .submit_button {
        padding: 5px 10px;
        color: $light;
        background-color: $primary;
        border: 2px solid $secondary;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 10px;

        &:hover {
            color: $light;
            background-color: $secondary;
            border: 2px solid $secondary;
        }
    }

    .checkout_shipping_container {
        flex-wrap: wrap;

        .checkout_shipping_label {
            margin-top: 10px;
            font-size: 1.1rem;
            line-height: 1.5rem;
            color: $secondary;
            margin-right: 10px;
        }
    }
}

.submit_container {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 0px;
    margin: 0px 15px;

    .submit_label {
        color: $light;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
    }
    .submit_label_failed {
        color: $error;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
    }
    .submit_label_warning {
        color: $warning;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
    }

    .loader_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .loader {
        height: 25px !important;
        width: 25px !important;
    }
}

.img_hor_vert {
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
}

.input_textbox::placeholder,
.input_autocomplete::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $light;
    opacity: 0.8;
}

.input_textbox:-ms-input-placeholder,
.input_autocomplete:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $light;
    opacity: 0.8;
}

.input_textbox::-ms-input-placeholder,
.input_autocomplete::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $light;
    opacity: 0.8;
}
