@import '../../theme/theme';

.checkout_return_message_container {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: $secondary;

    .checkout_return_message {
        padding-bottom: 15px;
    }
}

