@import '../../theme/common';
@import '../../theme/theme';

.checkout_return_message_container {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;

    .checkout_return_message {
        padding-bottom: 15px;
        color: $primary;
    }
}

.checkout_title_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: $light;
    padding: 0px;

    .title {
        width: calc(100% - 80px);
        margin: auto;
        color: $dark;
        font-size: 1.4em;
        line-height: 1.2em;
        text-align: center;
        font-family: $lato_300;
    }
}

