@import '../../theme/common';
@import '../../theme/theme';

.edit_details_form_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px) !important;
}

.extra_images_container {
    padding: 10px;

    .extra_image_table_header {
        font-size: 1.2rem;
        font-weight: 500;
        color: $light;
        background-color: $dark;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
    }


    .extra_image_table {
        border-radius: 5px;
    
        .image_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            background-color: $secondary;
            color: $light;
          
            &:last-of-type {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
          
            &:hover {
                background-color: $primary;
                color: $dark;
    
                .up_arrow,
                .down_arrow,
                .delete_icon {
                    background-color: $dark !important;
                    color: $light !important;
    
                    &:hover {
                        background-color: $light !important;
                        color: $dark !important;
                    }
                }
            }
    
            &.single_row {
                border-radius: 5px;
            }
        }
        
        .image_filename {
            font-weight: bold;
            color: $light
        }
    
        .button_container {
            display: flex;
            align-items: center;
        }
    
        .arrow_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 10px;
        }
        
        .up_arrow,
        .down_arrow,
        .delete_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            color: inherit;
            width: 30px;
            height: 30px;
            margin: 2.5px;
            padding: 5px;
            background-color: $primary !important;
            border-radius: 5px;
            cursor: pointer;
        
            &:hover {
                background-color: $dark !important;
                color: $light !important;
            }
        
            svg {
                width: 18px;
                height: 18px;
            }
        }
    
        .down_arrow {
            transform: rotate(270deg);
        }
        
        .up_arrow {
            transform: rotate(90deg);
        }
        
        .delete_icon {
            background-color: inherit;
        
            &:hover {
                background-color: $error !important;
            }
        }
    }    
}



