@import '../../theme/common';
@import "../../theme/theme";

@media (max-width: 768px) { // mobile
  .gallery_container { 
    position: absolute;
    height: calc(100% - 100px) !important;
    width: 100vw; 
    background-color: $light;
  }
  .gallery_container_open { 
    position: absolute;
    top: 170px;
    height: calc(100% - 170px); 
    width: 100vw; 
    background-color: $light;
  }

    .gallery_main_container { 
      position: relative;
      height: 100%; 
      width: 100vw; 
      overflow-y: scroll; 
      overflow-x: hidden; 
      background-color: $light 
    }

    .gallery_inner_container {
      position: relative;
      width: 100%;
      height: 100%;
    }
}
@media (min-width: 769px) { // browser
  .gallery_container { 
    position: absolute;
    min-height: calc(100% - 100px) !important; 
    width: 100vw; 
    background-color: $light;
  }
    
    .gallery_main_container { 
      position: relative;
      height: calc(100% - 100px); 
      min-height: calc(100% - 100px) !important; 
      width: 100vw; 
      overflow-y: scroll; 
      overflow-x: hidden; 
      background-color: $light 
    }

      .gallery_inner_container {
        position: relative;
        width: 100%;
        height: 100%;
      }
}
  .gallery_body { 
    min-height: calc(00vh - 100px); 
    width: 100vw; 
  }
    .piece_container { 
      position: absolute; 
      padding: 5px; 
      border-radius: 3px; 
      background-color: $secondary;
    }
      .piece_secondary_container { 
        padding: 0;
      }
        .piece_image_container { 
          position: relative; 
        }
          .piece_image { 
            padding: 0;
          }
          
        .piece_sold_container { 
          position: absolute; 
          bottom: 10px !important; 
          right: 10px 
        }
          .piece_sold { 
            position: absolute !important; 
            bottom: 0px !important; 
            right: 0px !important; 
            top: auto !important; 
            left: auto !important; 
          }
