@import "../../theme/theme";

.main_container { 
  position: absolute; 
  height: calc(100% - 100px); 
  width: 100vw; 
  overflow-y: auto; 
  overflow-x: hidden; 
  background-color: $light; 
}
  .main_body { 
    padding: 15px 15px;
  }

    .admin_header { }

    .module_title { 
      color: $secondary; 
      margin-top: 5px;  
    }

    .user_tree_container { 
      width: 100%; 
      border-radius: 5px; 
      background-color: $primary; 
    }