@import "../../theme/theme";

.gallery_container { 
  position: absolute;
  height: calc(100% - 100px); 
  width: 100vw; 
  overflow-y: scroll; 
  overflow-x: hidden; 
  background-color: $light 
}
  .gallery_inner_container {
    position: relative;
    width: 100%;
    height: 100%;
  }
    .gallery_filter_menu_toggle {
      position: fixed;
      top: 50px;
      right: 150px;
      width: 50px;
      height: 50px; 
      color: $light !important;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    .gallery_filter_menu_toggle:hover {
      background-color: $light !important;
      color: $dark !important;
    }
      .gallery_filter_menu_toggle_icon {
        width: 40px !important;
        height: 40px !important;
        margin: 5px;
      }

    .gallery_filter_menu {
      position: fixed; 
      top: 100px; 
      right: 0px;
      width: fit-content; 
      min-height: 50px;
      background-color: $primary; 
      border-bottom: 2px solid $secondary;
      border-left: 2px solid $secondary;
      border-bottom-left-radius: 5px;
      z-index: 1;
      display: flex;
      flex-direction: row;
    }
      .gallery_filter_icon_container {
        width: 50px;
        height: 50px;
        color: $light;
      }
      .gallery_filter_icon_container:hover {
        background-color: $light !important;
        color: $dark !important;
      }
      .gallery_filter_icon_container_selected {
        width: 50px;
        height: 50px;
        background-color: $light !important;
        color: $dark;
      }
      .gallery_filter_icon_container_selected:hover {
        background-color: $light !important;
        color: $dark !important;
      }
        .gallery_filter_icon {
          width: 40px !important;
          height: 40px !important;
          margin: 5px;
        }


  .gallery_body { 
    min-height: calc(100% - 100px); 
    width: 100vw; 
  }
    .piece_container { 
      position: absolute; 
      padding: 5px; 
      border-radius: 3px; 
      background-color: $secondary;
    }
      .piece_secondary_container { 
        padding: 0;
      }
        .piece_image_container { 
          position: relative; 
        }
          .piece_image { 
            padding: 0;
          }
          
        .piece_sold_container { 
          position: absolute; 
          bottom: 10px !important; 
          right: 10px 
        }
          .piece_sold { 
            position: absolute !important; 
            bottom: 0px !important; 
            right: 0px !important; 
            top: auto !important; 
            left: auto !important; 
          }
