@import "../../theme/theme";

.gallery_container { 
  position: absolute;
  height: calc(100% - 100px); 
  width: 100vw; 
  overflow-y: scroll; 
  overflow-x: hidden; 
  background-color: $light 
}
  .gallery_body { 
    min-height: calc(100% - 100px); 
    width: 100vw; 
  }
    .piece_container { 
      position: absolute; 
      padding: 5px; 
      border-radius: 3px; 
      background-color: $secondary;
    }
      .piece_secondary_container { 
        padding: 0;
      }
        .piece_image_container { 
          position: relative; 
        }
          .piece_image { 
            padding: 0;
          }
          
        .piece_sold_container { 
          position: absolute; 
          bottom: 10px !important; 
          right: 10px 
        }
          .piece_sold { 
            position: absolute !important; 
            bottom: 0px !important; 
            right: 0px !important; 
            top: auto !important; 
            left: auto !important; 
          }
