@import 'theme/theme';



.input_split_container {
    display: flex !important;
    flex-direction: row;
    width: 50%;
    min-width: 250px;

    &:first-child {
        padding-right: 7.5px;
    }
    &:last-child {
        padding-left: 7.5px;
    }
}

@media screen and (max-width: 1515px) {
    .input_split_container {
        width: 100%;
        min-width: unset;
        padding: 0 !important;

        &:last-child {
            padding-top: 10px !important;
        }
    }
}

.input_full_container {
    width: 100% !important;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.input_label_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: $dark;
    border-radius: 5px 0px 0px 5px;
    font-weight: 600;
}

.input_split {
    width: calc(100% - 90px) !important;
}

.input_textbox {
    height: 100%;
    color: $dark;
    background-color: $primary;
    border-radius: 0px 5px 5px 0px;
    font-size: 14px;
    font-weight: bold;
    border: none !important;

    &::placeholder {
        color: $medium; 
    }
}

.input_select {
    color: $dark;
    background-color: $primary;
    border-radius: 0px 5px 5px 0px;
    border: none !important;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
}

.input_multi_select {
    height: 100%;
    color: $dark;
    background-color: $primary;
    border-radius: 0px 5px 5px 0px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.input_textarea {
    height: 100%;
    color: $dark;
    background-color: $primary;
    border-radius: 0px 5px 5px 0px;
    font-size: 14px;
    font-weight: bold;
    border: none !important;
    padding: 6px 10px; // Customize as per your need

    &::placeholder {
        color: $medium; 
    }
}

.autocomplete_container {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}
.input_container_autocomplete {
    display: flex;
    width: 100%;
}
    
.input_autocomplete {
    width: 70%;
    height: 100%;
    padding: 7px 10px;
    color: $dark;
    background-color: $primary;
    border-radius: 0px 5px 5px 0px;
    border: none;
    padding-left: 5px;
    font-weight: bold;

    &::placeholder {
        color: $medium; 
    }
}

.input_autocomplete:-webkit-autofill {
    border-bottom-right-radius: none;
}
.input_autocomplete:autofill {
    border-bottom-right-radius: none;
}

.autocomplete_dropdown_container {
    width: calc(70% - 20px);
    margin-left: calc(30% + 5px);
}
.input_suggestion {
    background-color: $primary !important;
    color: $dark;
    padding: 10px 10px 0px 10px;
}
.input_suggestion:last-of-type {
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* START Input File Section */
.input_file_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 0;
    border-width: 3px 3px 3px 0px; /* top, right, bottom, left */
    border-style: solid;
    border-color: $dark;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.input_file {
    display: none;
}

.input_file_select_button {
    background-color: $dark !important;
    color: $primary !important;
    border: none;
    font-family: $lato_300;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    padding: 0.3rem 1rem;
    border-radius: 0;
    width: fit-content;
    white-space: nowrap;
    flex-grow: 1;

    &:hover {
        background-color: $medium !important;
        color: $primary !important;
    }
}

.input_file_select {
    background-color: $primary;
    border: none;
    color: $dark;
    font-family: $lato_300;
    padding: 0.3rem;
    font-size: 14px;
    width: 100%;
    max-width: 180px;
    margin: 0;
    border-radius: 0;
}

.input_file_path {
    background-color: $primary;
    border: none;
    color: $dark !important;
    font-family: $lato_300;
    padding: 0.3rem;
    font-size: 14px;
    width: 100%;
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-grow: 1;
     
    &::placeholder {
        color: $dark !important;
        opacity: 1;
    }
}

/* END Input File Section */

.upload_success {
    background-color: #4caf50;
}

.upload_error {
    background-color: #f44336;
}


.upload_success {
    background-color: #4caf50;
}

.upload_error {
    background-color: #f44336;
}


@media (max-width: 768px) {
    // Mobile
    .input_label_container {
        width: 90px !important;
        font-weight: 600;
    }
    .input_label_split {
        width: 90px !important;
        padding: 5px 10px;
    }
    .input_textbox {
        width: calc(100% - 90px) !important;
        padding: 5px 10px;
    }
    .input_select {
        width: calc(100% - 90px) !important;
        padding: 6px 10px;
    }
    .input_multi_select {
        width: calc(100% - 90px) !important;
        padding: 6px 10px;
    }
    .input_textarea {
        width: calc(100% - 90px) !important;
        padding: 6px 10px;
    }
    .input_autocomplete {
        width: calc(100% - 90px) !important;
        padding: 6px 10px;
    }
    .input_file_container {
        width: calc(100% - 90px) !important;
    }
}
@media (min-width: 769px) {
    // browser
    .input_label_container {
        width: 120px !important;
        font-weight: 500;
    }
    .input_label_split {
        width: 120px !important;
        padding: 5px 10px;
    }
    .input_textbox {
        width: calc(100% - 120px) !important;
        padding: 6px 10px;
    }
    .input_select {
        width: calc(100% - 120px) !important;
        padding: 6px 10px;
    }
    .input_select > option {
        font-weight: bold;
    }
    .input_multi_select {
        width: calc(100% - 120px) !important;
        padding: 6px 10px;
    }
    .input_textarea {
        width: calc(100% - 120px) !important;
        padding: 6px 10px;
    }
    .input_autocomplete {
        width: calc(100% - 120px) !important;
        padding: 6px 10px;
    }
    .input_file_container {
        width: calc(100% - 90px) !important;
    }
}

.input_label {
    color: $primary;
}

.split_left {
    padding-right: 7.5px;
}
.split_right {
    padding-left: 7.5px;
}