@import '../../theme/theme';

.title_container {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: $light;
    margin-bottom: 10px;

    .title_inner_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        padding: 0px;
    }

    .title {
        width: calc(100% - 80px);
        margin: auto;
        color: $light;
        font-size: 1.5em;
        line-height: 1.5em;
        text-align: center;
        font-family: $lato_300;
        font-weight: 600;
    }

    .title_input {
        width: calc(100% - 100px);
        margin: 10px 10px;
        background-color: $dark;
        color: $primary;
        border: none;
        border-radius: 5px;
        font-family: $lato_300;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }
}

.title_arrow {
    fill: $dark !important;
    height: 100% !important;
    width: 48px !important;
    padding: 0px 5px !important;

    &:hover {
        background-color: $tertiary !important;
        fill: $primary !important;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

.back_to_details_container {
    padding: 10px 0px;
    margin-right: 10px;

    .back_to_details_icon {
        fill: $primary !important;
        height: 100% !important;
        width: 48px !important;
        padding: 0px 5px !important;
        background-color: $dark !important;
        border-radius: 5px;

        &:hover {
            background-color: $tertiary !important;
            fill: $dark !important;
        }
    }
}

.img_hor_vert {
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
}
