@import './theme';

.centered_image_outer_container {
    width: 100% !important;
    height: calc(100% - 70px);
    display: flex;
    background-color: $dark;
}

.centered_image_container {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    overflow: hidden;
}

.centered_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    z-index: 1;
}

.centered_image_container_hidden {
    width: 0px;
    height: 0px;
    position: relative;
    display: none;
}