@import '../../theme/theme';

.input_container {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 5px 15px;
    flex-wrap: wrap; // allow for wrapping
}

.input_container:first-child {
    padding-top: 15px !important;
}

.input_multi_select_container {
    display: flex;
    width: 100%;
    height: fit-content;
}

.input_label_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: $secondary;
    border-radius: 5px 0px 0px 5px !important;
    font-weight: 600;
}

.description_container {
    width: 100%;
    padding: 15px 15px 0px 15px;
}
.description_textarea {
    width: 100%;
    min-height: 150px;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    background-color: $primary;
    color: $light;
    border: none;
    font-family: $lato_300;
    font-weight: bold;
}

.submit_container {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
}
.submit_button {
    padding: 5px 10px;
    color: $light;
    background-color: $primary;
    border: 2px solid $secondary;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}
.submit_button:hover {
    color: $light;
    background-color: $secondary;
    border: 2px solid $secondary;
}

.error_message_and_label_container {
    height: fit-content;
    width: fit-content;
    margin: 5px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

    .error_message_label {
        padding: 5px 15px;
        line-height: 32px;
        font-size: 22px;
        font-weight: bold;
        background-color: $secondary;
        border-radius: 5px 0px 0px 5px !important;
    }

    .error_message {
        padding: 5px 10px;
        background-color: $primary;
        border-radius: 0px 5px 5px 0px !important;
    }

}

.submit_label_update {
    color: $secondary;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}
.submit_label_failed {
    color: $error;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}
.submit_label_warning {
    color: $warning;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}

.upload_button {
    padding: 5px 10px;
    color: $light;
    background-color: $primary;
    border: 2px solid $secondary;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}
.upload_button:hover {
    color: $light;
    background-color: $secondary;
    border: 2px solid $secondary;
}

.upload_file_input {
    display: none;
}

.img_hor_vert {
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
}
