@import 'theme/theme';

.piece_specification_table_wrapper {
    width: calc(100% - 40px);
    margin: 15px;
    border-radius: 5px !important;

    .piece_specification_table_header {
        font-family: $alegrya_300;
        font-size: 24px;
        color: $light;
        background-color: $secondary;
        padding: 10px;
        text-align: center;
        border-radius: 5px 5px 0 0;
    }

    .piece_specification_table_no_head {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        font-family: $lato_300;
        margin: 0;
        padding: 0;
        border-radius: 7px !important;
        background-color: $primary;
        color: $dark !important;
        background-color: $light !important;

        tr {
            &:hover {
                background-color: $dark;
                color: $light;
            }
            &:last-of-type {
                td {
                    border-bottom: none; // Remove the bottom border for the last row
                }
                td:first-child {
                    border-bottom-left-radius: 5px !important;
                }
                td:last-child {
                    border-bottom-right-radius: 5px !important;
                }
            }
            &:first-of-type {
                td:first-child {
                    border-top-left-radius: 5px !important;
                }
                td:last-child {
                    border-top-right-radius: 5px !important;
                }
            }
        }

        td {
            padding: 8px;
            border-bottom: 1px solid $dark;
            border-right: 1px solid $dark;

            &:first-child {
                width: 1%;
                text-align: left;
            }
            &:last-child {
                border-right: none;
            }
        }
    }

    .piece_specification_table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        font-family: $lato_300;
        color: $light;
        margin: 0;
        padding: 0;
        border: 2px solid $secondary;
        border-bottom-left-radius: 7px !important;
        border-bottom-right-radius: 7px !important;
        background-color: $primary;

        tr {
            &:hover {
                background-color: $dark;
                color: $light;
            }
            &:last-of-type {
                td {
                    border-bottom: none; // Remove the bottom border for the last row
                }
                td:first-child {
                    border-bottom-left-radius: 5px !important;
                }
                td:last-child {
                    border-bottom-right-radius: 5px !important;
                }
            }
        }

        td {
            padding: 8px;
            border-bottom: 1px solid $light;
            border-right: 1px solid $light;

            &:first-child {
                width: 1%;
                text-align: left;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}
