@import "../theme/theme";

.gallery_container { height: calc(100vh - 100px); width: 100vw; position: absolute; overflow-y: scroll; overflow-x: hidden; background-color: $light }
.gallery_body { min-height: calc(100vh - 100px); width: 100vw; }
   
    .piece_container { position: absolute; padding: 5px; border-radius: 3px; background-color: $secondary }

    .piece_container > div > span > .piece_image { position: absolute !important; padding: 5px !important; border-radius: 3px !important;  }

    .piece_container > div > span > .piece_sold { position: absolute !important; bottom: 10px !important; right: 10px !important;  }
      .piece_secondary_container {  }
        .piece_image_container { position: relative; }
            .piece_image {  }


        .piece_description-container { height: 25px; line-height: 25px; }
            .piece_title { display: inline-block; vertical-align: middle; line-height: normal; color: $light }

          .piece_sold_container { position: absolute; bottom: 10px !important; right: 10px }
            .piece_sold { position: absolute !important; bottom: 0px !important; right: 0px !important; top: auto !important; left: auto !important; }

#management-button { position: fixed; top: 50px; right: 0; width: 30px; height: 30px; padding: 10px; border-bottom-left-radius: 5px; }