@import "../theme/theme";

.navbar { padding: 0 !important; overflow: hidden; background-color: $secondary;  }
.navbar_container { height: 100px; width: 100%; overflow: hidden;  }

    .navbar_logo { padding: 0; width: 250px; height: 100% !important; position: relative; }
        .navbar_logo_img { min-height: 80px; padding: 10px !important; }
    
        
    .hamburger_button { position: fixed; top: 50px; right: 0; width: 50px !important; height: 50px !important; padding: 10px; border-top-left-radius: 5px; 
                        background-color: $secondary !important; fill: $light !important; }
    
    .hamburger_button:hover { background-color: $light !important; fill: $secondary !important; }

    .account_button { position: fixed; top: 50px; right: 50px; width: 50px !important; height: 50px !important; padding: 10px; 
        background-color: $secondary !important; fill: $light !important; border-top-left-radius: 5px; border-top-right-radius: 5px;  }

    .account_button:hover { background-color: $light !important; fill: $secondary !important; }
    
    .instagram_link_container { position: fixed; top: 50px; right: 100px; width: 50px !important; height: 50px !important; }
    .instagram_link_image {  background-color: $secondary !important; padding: 10px !important; border-top-left-radius: 5px; border-top-right-radius: 5px; }

    .instagram_link_image:hover { background-color: $light !important; }



    .account_menu_full_container:hover > .account_menu_container { display: block; }
    
    .account_menu_container { display: none; position: absolute; z-index: 100; top: 100px; right: 0px; background-color: $secondary; width: 300px; height: 200px; border-bottom-left-radius: 10px;  }

    .account_menu_body { padding: 0 !important; }

        .account_menu_header { background-color: $primary; height: 50px; border-left: 2px solid $secondary; padding: 10px; color: $light; font-weight: bold; line-height: 25px; }
            .account_name {   }

            .account_auth_button { background-color: $primary; border: 2px solid $light; color: $light; padding: 5px 5px; border-radius: 3px; position: absolute; right: 10px; top: 10px; font-weight: bold;  }
            .account_auth_button:hover { background-color: $light; color: $primary; }
            
        .profile_menu_body { padding: 10px;  }
            
            .role_container { padding: 5px; color: $light; }


    // Page Menu Overlay
    .page_menu_full_container:hover > .page_menu_container { display: block; }
    .page_menu_container { display: none; position: absolute; z-index: 100; top: 100px; right: 0px; background-color: $light; width: 200px; height: fit-content; 
        border-bottom-left-radius: 10px; border-left: 2px solid $light; border-bottom: 2px solid $light; }
    .page_menu_body { padding: 0 !important; }
    

    .email_form_container { padding: 10px; }
    .sign_in_form:hover > .page_menu_container { display: block; }

    .email_input_container { width: 100%; display: flex; flex-direction: row; margin-bottom: 10px; }
    .email_label { color: $light; font-size: 18px; font-weight: bold; margin-right: 10px; }
    .email_input { padding: 5px 10px; box-sizing: border-box; border-radius: 5px; flex: 2; background-color: $light !important; color: $secondary; }

    .submit_container { height: fit-content; display: flex; flex-direction: row; }

    .sign_in_button { height: 40px !important; width: max-content; padding: 10px 20px; background-color: $light; border: 2px solid $secondary; color: $secondary; border-radius: 5px; font-weight: bold; margin-right: 10px; text-align: center; white-space: nowrap; }
    .sign_in_button:hover { background-color: $secondary; border: 2px solid $light; color: $light; }

    .loader_container { height: 100%; display: flex; justify-content: center; align-items: center; }
    .loader { height: 25px !important; width: 25px !important;  }

    .sent_label { width: fit-content; font-size: 16px; font-weight: 500; color: $light; }
